[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "risk.assessr"]
	path = risk.assessr
	url = https://github.com/sanofi-public/risk.assessr
